@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
:root {
  --venice-inner-bevel:rgba(0, 0, 0, 0.102);
  --venice-green:rgba(18, 184, 134, 1);
  --venice-footer-black:rgba(25, 25, 25, 1);
  --venice-black:rgba(30, 30, 30, 1);
  --venice-gray:rgba(125, 125, 125, 1);
  --venice-offwhite:rgba(233, 233, 233, 1);
  --github-gray:rgba(238, 241, 245, 1);
  --venice-white:rgba(255, 255, 255, 1);
  --venice-green-glow:rgba(18,184,134,0.15);

  --font-family-montserrat: "Montserrat";
  --font-family-montserrat-bold: "Montserrat-Bold";
  --font-family-pt_mono: "PT Mono";
  --font-family-pt_mono-regular: "PT Mono-Regular";

  --font-size-xxxs: 10px;
  --font-size-xxs: 12px;
  --font-size-xs2: 13px;
  --font-size-s: 14px;
  --font-size-m: 15px;
  --font-size-l: 17px;
  --font-size-xl: 32px;
}

@layer base {
  html {
    background-color: var(--venice-black);
    font-family: Montserrat, system-ui, sans-serif;
  }
}

/* PT Mono 13 */
.ptmono-normal-13px {
  font-family: var(--font-family-pt_mono);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  font-style: normal;
}
.ptmono-regular-13px {
  font-family: var(--font-family-pt_mono-regular);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  font-style: normal;
}

/* Montserrat 10 */
.montserrat-normal-10px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  font-style: normal;
}

/* Montserrat 12 */
.montserrat-light-12px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-weight: 300;
  font-style: normal;
}

/* Montserrat 13 */
.montserrat-light-13px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs2);
  font-weight: 300;
  font-style: normal;
}
.montserrat-normal-13px {
  color: var(--venice-offwhite);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  font-style: normal;
}
.montserrat-medium-13px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-bold-13px {
  font-family: var(--font-family-montserrat-bold);
  font-size: var(--font-size-xs2);
  font-weight: 700;
  font-style: normal;
}

/* Montserrat 15 */
.montserrat-light-15px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.montserrat-bold-15px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .montserrat-light-15px {
    font-size: 20px;
  }
}

/* Montserrat 17 */
.montserrat-light-17px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 300;
  font-style: normal;
}
.montserrat-medium-17px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium-17px-tight-spacing {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  letter-spacing: 0px;
  font-weight: 500;
  font-style: normal;
}
.montserrat-bold-32px-tight-spacing {
  font-family: var(--font-family-montserrat-bold);
  font-size: var(--font-size-xl);
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .montserrat-light-17px, .montserrat-medium-17px {
    font-size: 25px;
  }
}