@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
:root {
  --venice-inner-bevel:rgba(0, 0, 0, 0.102);
  --venice-green:rgba(18, 184, 134, 1);
  --venice-footer-black:rgba(25, 25, 25, 1);
  --venice-black:rgba(30, 30, 30, 1);
  --venice-gray:rgba(125, 125, 125, 1);
  --venice-offwhite:rgba(233, 233, 233, 1);
  --venice-white:rgba(255, 255, 255, 1);
  --venice-green-glow:rgba(18,184,134,0.15);
  --venice-input-background:rgba(41, 41, 41, 1);
  --venice-input-border:rgba(0, 0, 0, 0.5);

  --github-gray:rgba(238, 241, 245, 1);
  --discord-blue:rgba(110, 121, 239, 1);
  --discord-blue-glow:rgba(110,121,239,0.15);
}

@layer base {
  html {
    background-color: var(--venice-black);
  }
}
